# ITCS 6162: Data Mining - Programming Assignment

**In this assignment, you will explore data analysis, recommendation algorithms, and graph-based techniques using the MovieLens dataset. Your tasks will range from basic data exploration to advanced recommendation models, including:**
- Data manipulation with pandas
- User-item collaborative filtering
- Similarity-based recommendation models
- A Pixie-inspired Graph-based recommendation using adjacency lists with weighted random walks (without using NetworkX)

#### **Dataset Files:**
- **`u.data`**: User-movie ratings (`user_id  movie_id  rating  timestamp`)
- **`u.item`**: Movie metadata (`movie_id | title | release date | IMDB_website`)
- **`u.user`**: User demographics (`user_id | age | gender | occupation | zip_code`)

## **Part 1: Exploring and Cleaning Data**

### Inspecting the Dataset Format

The dataset is not in a traditional CSV format. To examine its structure, use the following shell command to display the first 10 lines of the file:

```sh
!head <file_name>

**In the cells given below. Write the code to read the files.**

In [1]:
# u.data. shows first 10 rows of dataset
!head u.data

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596
298	474	4	884182806
115	265	2	881171488
253	465	5	891628467
305	451	3	886324817
6	86	3	883603013

In [2]:
# u.item. shows first 10 items
!head u.item

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

In [3]:
# u.user. shows first 10 users
!head u.user

1|24|M|technician|85711
2|53|F|other|94043
3|23|M|writer|32067
4|24|M|technician|43537
5|33|F|other|15213
6|42|M|executive|98101
7|57|M|administrator|91344
8|36|M|administrator|05201
9|29|M|student|01002
10|53|M|lawyer|90703

#### Loading the Dataset with Pandas

Use **pandas** to load the dataset into a DataFrame for analysis. Follow these steps:  

1. Import the necessary library: `pandas`.  
2. Use `pd.read_csv()` (or an appropriate function) to read the dataset file.  
3. Ensure the dataset is loaded with the correct delimiter (e.g., `','`, `'\t'`,`'|'` , or another separator if needed).  
4. Select and display the first few rows using `.head()`.

Ensure that:  

- The `ratings` dataset is read from `"u.data"` using tab (`'\t'`) as a separator and column names (`"user_id"`, `"movie_id"`, `"rating"` and `"timestamp"`).  
- The `movies` dataset is read from `"u.item"` using `'|'` as a separator, use columns (`0`, `1`, `2`), encoding (`"latin-1"`) and name the columns (`movie_id`, `title`, and `release_date`).  
- The `users` dataset is read from `"u.user"` using `'|'` as a separator, use columns (`0`, `1`, `2`, `3`) and name the columns (`user_id`, `age`, `gender`, and `occupation`).

In [4]:
import pandas as pd
# ratings
ratings = pd.read_csv('u.data', sep='\t', header=None, names=['user_id', 'item_id', 'rating', 'timestamp'])
print(ratings.head())

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [5]:
# movies
movies = pd.read_csv('u.item', sep='|', header=None, usecols=[0, 1, 2], encoding='latin-1', names=['movie_id', 'title', 'release_date'])
print(movies.head())

   movie_id              title release_date
0         1   Toy Story (1995)  01-Jan-1995
1         2   GoldenEye (1995)  01-Jan-1995
2         3  Four Rooms (1995)  01-Jan-1995
3         4  Get Shorty (1995)  01-Jan-1995
4         5     Copycat (1995)  01-Jan-1995

In [6]:
# users
users = pd.read_csv('u.user', sep='|', header=None, usecols=[0, 1, 2, 3], names=['user_id', 'age', 'gender', 'occupation'])
print(users.head())

   user_id  age gender  occupation
0        1   24      M  technician
1        2   53      F       other
2        3   23      M      writer
3        4   24      M  technician
4        5   33      F       other

**Note:** As a **Bonus** task save the `ratings`, `movies` and `users` dataframe created into a `.csv` file format. <br>
**Hint:** Use the `to_csv()` function in pandas to save these DataFrames as CSV files.

In [7]:
# ratings
ratings.to_csv('ratings.csv', index=False)

In [8]:
# movies
movies.to_csv('movies.csv', index=False)

In [9]:
# users
users.to_csv('users.csv', index=False)

**Display the first 10 rows of each file.**

In [10]:
# ratings
display(ratings.head(10))

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596
5      298      474       4  884182806
6      115      265       2  881171488
7      253      465       5  891628467
8      305      451       3  886324817
9        6       86       3  883603013

In [11]:
# movies
display(movies.head(10))

   movie_id                                              title release_date
0         1                                   Toy Story (1995)  01-Jan-1995
1         2                                   GoldenEye (1995)  01-Jan-1995
2         3                                  Four Rooms (1995)  01-Jan-1995
3         4                                  Get Shorty (1995)  01-Jan-1995
4         5                                     Copycat (1995)  01-Jan-1995
5         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  01-Jan-1995
6         7                              Twelve Monkeys (1995)  01-Jan-1995
7         8                                        Babe (1995)  01-Jan-1995
8         9                            Dead Man Walking (1995)  01-Jan-1995
9        10                                 Richard III (1995)  22-Jan-1996

In [12]:
# users
display(users.head(10))

   user_id  age gender     occupation
0        1   24      M     technician
1        2   53      F          other
2        3   23      M         writer
3        4   24      M     technician
4        5   33      F          other
5        6   42      M      executive
6        7   57      M  administrator
7        8   36      M  administrator
8        9   29      M        student
9       10   53      M         lawyer

### Data Cleaning and Exploration with Pandas  

After loading the dataset, it’s important to clean and explore the data to ensure consistency and accuracy. Below are key **pandas** functions for cleaning and understanding the dataset.

#### 1. Handle Missing Values  
- `df.dropna()` – Removes rows with missing values.  
- `df.fillna(value)` – Fills missing values with a specified value.  

#### 2. Remove Duplicates  
- `df.drop_duplicates()` – Drops duplicate rows from the dataset.  

#### 3. Handle Incorrect Data Types  
- `df.astype(dtype)` – Converts columns to the appropriate data type.  

#### 4. Filter Outliers (if applicable)  
- `df[df['column_name'] > threshold]` – Filters rows based on a condition.  

#### 5. Rename Columns (if needed)  
- `df.rename(columns={'old_name': 'new_name'})` – Renames columns for clarity.  

#### 6. Reset Index  
- `df.reset_index(drop=True, inplace=True)` – Resets the index after cleaning.  

### Data Exploration Functions  

To better understand the dataset, use these **pandas** functions:  

- `df.shape` – Returns the number of rows and columns in the dataset.  
- `df.nunique()` – Displays the number of unique values in each column.  
- `df['column_name'].unique()` – Returns unique values in a specific column.  

**Example Usage in Pandas:**  
```python
import pandas as pd

# Load dataset
df = pd.read_csv("your_file.csv")

# Drop missing values
df_cleaned = df.dropna()

# Remove duplicate rows
df_cleaned = df_cleaned.drop_duplicates()

# Convert 'timestamp' column to datetime format
df_cleaned['timestamp'] = pd.to_datetime(df_cleaned['timestamp'])

# Display dataset shape
print("Dataset shape:", df_cleaned.shape)

# Display number of unique values in each column
print("Unique values per column:\n", df_cleaned.nunique())

# Display unique movie IDs
print("Unique movie IDs:", df_cleaned['movie_id'].unique()[:10])  # Show first 10 unique movie IDs

**Note:** The functions mentioned above are some of the widely used **pandas** functions for data cleaning and exploration. However, it is not necessary that all of these functions will be required in the exercises below. Use them as needed based on the dataset and the specific tasks.

**Convert Timestamps into Readable dates.**

In [13]:
# ratings
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')
print(ratings.head())

   user_id  item_id  rating           timestamp
0      196      242       3 1997-12-04 15:55:49
1      186      302       3 1998-04-04 19:22:22
2       22      377       1 1997-11-07 07:18:36
3      244       51       2 1997-11-27 05:02:03
4      166      346       1 1998-02-02 05:33:16

**Check for Missing Values**

In [14]:
# ratings
print(ratings.isna().any().any())
display(ratings[ratings.isna().any(axis=1)].head())

False

Empty DataFrame
Columns: [user_id, item_id, rating, timestamp]
Index: []

In [15]:
# movies
print(movies.isna().any().any())
display(movies[movies.isna().any(axis=1)].head())

True

     movie_id    title release_date
266       267  unknown          NaN

In [16]:
# users
print(users.isna().any().any())
display(users[users.isna().any(axis=1)].head())

False

Empty DataFrame
Columns: [user_id, age, gender, occupation]
Index: []

**Print the total number of users, movies, and ratings.**

In [17]:
print(f"Total Users: { users.shape[0] }")
print(f"Total Movies: { movies.shape[0] }")
print(f"Total Ratings: { ratings.shape[0] }")

Total Users: 943
Total Movies: 1682
Total Ratings: 100000

## **Part 2: Collaborative Filtering-Based Recommendation**

### **Create a User-Item Matrix**

#### Instructions for Creating a User-Movie Rating Matrix

In this exercise, you will create a user-movie rating matrix using **pandas**. This matrix will represent the ratings that users have given to different movies.

1. **Dataset Overview**:  
   The dataset has already been loaded. It includes the following key columns:
   - `user_id`: The ID of the user.
   - `movie_id`: The ID of the movie.
   - `ratings`: The rating the user gave to the movie.

2. **Create the User-Movie Rating Matrix**:  
   Use the **`pivot()`** function in **pandas** to reshape the data. Your goal is to create a matrix where:
   - Each **row** represents a **user**.
   - Each **column** represents a **movie**.
   - Each **cell** contains the **rating** that the user has given to the movie.

   Specify the following parameters for the `pivot()` function:
   - **`index`**: The `user_id` column (this will define the rows).
   - **`columns`**: The `movie_id` column (this will define the columns).
   - **`values`**: The `rating` column (this will fill the matrix with ratings).

3. **Inspect the Matrix**:  
   After creating the matrix, examine the first few rows of the resulting matrix to ensure it has been constructed correctly.

4. **Handle Missing Values**:  
   It's likely that some users have not rated every movie, resulting in `NaN` values in the matrix. You will need to handle these missing values. Consider the following options:
   - **Fill with 0**: If you wish to represent missing ratings as zeros (indicating no rating).
   - **Fill with the average rating**: Alternatively, replace missing values with the average rating for each movie.

**Create the user-movie rating matrix using the `pivot()` function.**

# Build the User-Item Rating Matrix
prepare the dataset for collaborative filtering.

Rows = users
Columns = movies
Cells = ratings a user gave a movie

This matrix makes computing similarities between users or movies easy, allowing us to make better recommendations

In [30]:
# rename 'item_id' to 'movie_id' in ratings DataFrame
if 'item_id' in ratings.columns and 'movie_id' not in ratings.columns:
    ratings.rename(columns={'item_id': 'movie_id'}, inplace=True)

# create user-movie matrix
user_movie_matrix = ratings.pivot(index='user_id', columns='movie_id', values='rating')
zero_user_movie_matrix = user_movie_matrix.fillna(0)                       # treat missing as 0

**Display the matrix to verify the transformation.**

In [31]:
display(user_movie_matrix.head())

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **User-Based Collaborative Filtering Recommender System**

#### **Objective**
In this task, you will implement a **user-based collaborative filtering** movie recommendation system using the **Movie dataset**. The goal is to recommend movies to a user based on the preferences of similar users.

##### **Step 1: Import Required Libraries**
Before starting, ensure you have the necessary libraries installed. Use the following imports:

```python
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing user similarity
```

##### **Step 2: Compute User-User Similarity**
- We will use **cosine similarity** to measure how similar each pair of users is based on their movie ratings.
- Since `cosine_similarity` does not handle missing values (NaN), replace them with `0` before computation.

##### **Instructions:**
1. Fill missing values with `0` using `.fillna(0)`.
2. Compute similarity using `cosine_similarity()`.
3. Convert the result into a **Pandas DataFrame**, with users as both row and column labels.

##### **Hint:**  
You can achieve this using the following approach:

```python
user_similarity = cosine_similarity(user_movie_matrix.fillna(0))
user_sim_df = pd.DataFrame(user_similarity, index=user_movie_matrix.index, columns=user_movie_matrix.index)
```

##### **Step 3: Implement the Recommendation Function**
Now, implement the function `recommend_movies_for_user(user_id, num=5)` to recommend movies for a given user.

##### **Function Inputs:**
- `user_id`: The target user for whom we need recommendations.
- `num`: The number of movies to recommend (default is 5).

##### **Function Steps:**
1. Find **similar users**:
   - Retrieve the similarity scores for the given `user_id`.
   - Sort them in **descending** order (highest similarity first).
   - Exclude the user themselves.
   
2. Get the **movie ratings** from these similar users.

3. Compute the **average rating** for each movie based on these users' preferences.

4. Sort the movies in **descending order** based on the computed average ratings.

5. Retrieve the **top `num` recommended movies**.

6. Map **movie IDs** to their **titles** using the `movies` DataFrame.

7. Return the results as a **Pandas DataFrame** with rankings.

##### **Step 4: Return the Final Recommendation List**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

##### **Hint:** Your final DataFrame should be created like this:
```python
result_df = pd.DataFrame({
    'Ranking': range(1, num+1),
    'Movie Name': movie_names     
})
result_df.set_index('Ranking', inplace=True)
```

#### **Example: User-Based Collaborative Filtering**
```python
recommend_movies_for_user(10, num = 5)
```
**Output:**
```
| Ranking | Movie Name                     |
|---------|--------------------------------|
| 1       | In the Company of Men (1997)   |
| 2       | Misérables, Les (1995)         |
| 3       | Thin Blue Line, The (1988)     |
| 4       | Braindead (1992)               |
| 5       | Boys, Les (1997)               |

### Preprocessing for recommend_movies_for_user

- Ensure the ratings table has a consistent `movie_id` column and correct dtypes (rename `item_id` → `movie_id` if needed, drop duplicates).
- Pivot ratings into a user–movie matrix: rows = `user_id`, columns = `movie_id`, values = `rating`.
- Handle missing values by filling NaN with 0 (or choose per-item means if you prefer mean‑centered similarity). Save this as `zero_user_movie_matrix`.
- Compute cosine similarity on the zero‑filled matrix: `user_similarity = cosine_similarity(zero_user_movie_matrix)` and wrap into a DataFrame `user_sim_df` indexed/columned by `user_id`.
- Keep `user_movie_matrix` (with NaNs) available so you can filter out movies already rated by the target user when generating recommendations. User-User Similarity

In [32]:
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing user similarity

user_similarity = cosine_similarity(zero_user_movie_matrix.fillna(0))

# Convert the similarity matrix into a DataFrame 
user_sim_df = pd.DataFrame(
    user_similarity,
    index=user_movie_matrix.index,   # user_id as rows labels
    columns=user_movie_matrix.index  # user_id as columns labels
)
# Display the first few rows to verify the structure
user_sim_df.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.166931,0.047460,0.064358,0.378475,0.430239,0.440367,0.319072,0.078138,0.376544,...,0.369527,0.119482,0.274876,0.189705,0.197326,0.118095,0.314072,0.148617,0.179508,0.398175
2,0.166931,1.000000,0.110591,0.178121,0.072979,0.245843,0.107328,0.103344,0.161048,0.159862,...,0.156986,0.307942,0.358789,0.424046,0.319889,0.228583,0.226790,0.161485,0.172268,0.105798
3,0.047460,0.110591,1.000000,0.344151,0.021245,0.072415,0.066137,0.083060,0.061040,0.065151,...,0.031875,0.042753,0.163829,0.069038,0.124245,0.026271,0.161890,0.101243,0.133416,0.026556
4,0.064358,0.178121,0.344151,1.000000,0.031804,0.068044,0.091230,0.188060,0.101284,0.060859,...,0.052107,0.036784,0.133115,0.193471,0.146058,0.030138,0.196858,0.152041,0.170086,0.058752
5,0.378475,0.072979,0.021245,0.031804,1.000000,0.237286,0.373600,0.248930,0.056847,0.201427,...,0.338794,0.080580,0.094924,0.079779,0.148607,0.071459,0.239955,0.139595,0.152497,0.313941

### User-Based Collaborative Filtering — `recommend_movies_for_user`

- Purpose: recommend top N movies a target user has not rated by aggregating ratings from similar users.
- Inputs:
    - `user_id` (int): target user.
    - `num` (int, default=5): number of recommendations to return.
- Method (brief):
    1. Retrieve similarity scores for the target user from `user_sim_df` and exclude the user themself.  
    2. Collect ratings from other users (`user_movie_matrix`) weighted by their similarity to the target user.  
    3. Compute a similarity‑weighted predicted score for each movie and filter out movies the target user already rated.  
    4. Return the top `num` movie titles (mapped via `movies`) as a Pandas DataFrame indexed by `Ranking`.
- Output: DataFrame with column `Movie Name` and index `Ranking` (1 = strongest recommendation).
- Notes:
    - Sensitive to sparsity and popularity bias; consider restricting to top-K neighbors, normalizing ratings, or combining with item/content features to improve quality. Based Collab Filtering. Recommendation Function
using the user-user sim matrix we  generate movie recommendations for a given user.

In [33]:
def recommend_movies_for_user(user_id, num=5):
    """
    Recommend movies for a given user using user-based collaborative filtering
    Returns a DataFrame with columns: Ranking, Movie Name
    """

    # 1 - Get similarity scores for a user
    sim_scores = user_sim_df.loc[user_id]                # Get similarity scores for a user
    sim_scores = sim_scores.drop(index=user_id)          # Remove the user from their own similarity 
    sim_scores = sim_scores.sort_values(ascending=False) # Sort all other users in descending order

    # 2 - Get movie ratings from these similar users
    similar_users = sim_scores.index
    similar_ratings = user_movie_matrix.loc[similar_users]

    # 3 - Compute a similarity-weighted average rating for each movie
    # Formula: 
    # weighted_avg(movie) = sum(sim[user] * rating[user, movie]) / sum(sim)
    weighted_avg_ratings = similar_ratings.T.dot(sim_scores) / sim_scores.sum()

    # 4 - Remove movies the user has rated
    user_ratings = user_movie_matrix.loc[user_id]
    unrated_mask = user_ratings.isna()      
    candidate_scores = weighted_avg_ratings[unrated_mask]

    # 5 - Select the top recommended movies 
    top_movies = candidate_scores.sort_values(ascending=False).head(num)

    # 6 - Convert movie IDs to movie titles 
    movie_titles_lookup = movies.set_index('movie_id')['title']
    movie_names = movie_titles_lookup.loc[top_movies.index].values

    # 7 - Build the final results Dataframe
    result_df = pd.DataFrame({
        'Ranking': range(1, len(top_movies) + 1),
        'Movie Name': movie_names
    })
    result_df.set_index('Ranking', inplace=True)

    return result_df

### recommend_movies_for_user — Result Summary

- Output: a Pandas DataFrame indexed by Ranking with a single column `Movie Name` (top N recommendations for the target user).  
- What it represents: movies the user has not rated, ranked by a similarity‑weighted predicted score computed from other users' ratings. Higher ranking = stronger recommendation.  
- How it’s computed: aggregates ratings from the most similar users (cosine similarity on the user–movie matrix) and uses a similarity‑weighted average to score each candidate movie.  
- Practical notes:
    - Useful for surfacing new movies the user is likely to enjoy.
    - Sensitive to sparsity and popularity bias — rare or new movies may be underrepresented.
    - Improvements: restrict to nearest K neighbors, normalize ratings, or combine with item‑based or content features to reduce bias.

In [35]:
recommend_movies_for_user(1, num=5)

                           Movie Name
Ranking
1                         Heat (1995)
2                      Sabrina (1995)
3        Sense and Sensibility (1995)
4            Leaving Las Vegas (1995)
5                  Restoration (1995)

### **Item-Based Collaborative Filtering Recommender System**

#### **Objective**
In this task, you will implement an **item-based collaborative filtering** recommendation system using the **Movie dataset**. The goal is to recommend movies similar to a given movie based on user rating patterns.

#### **Step 1: Import Required Libraries**
Although we have done this part already in the previous task but just to emphasize the importance reiterrating this part.

Before starting, ensure you have the necessary libraries installed. Use the following imports:

```python
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing item similarity
```

#### **Step 2: Compute Item-Item Similarity**
- We will use **cosine similarity** to measure how similar each pair of movies is based on their user ratings.
- Since `cosine_similarity` does not handle missing values (NaN), replace them with `0` before computation.
- Unlike user-based filtering, we need to **transpose** (`.T`) the `user_movie_matrix` because we want similarity between movies (columns) instead of users (rows).

##### **Instructions:**
1. Transpose the user-movie matrix using `.T` to make movies the rows.
2. Fill missing values with `0` using `.fillna(0)`.
3. Compute similarity using `cosine_similarity()`.
4. Convert the result into a **Pandas DataFrame**, with movies as both row and column labels.

##### **Hint:**  
You can achieve this using the following approach:

```python
item_similarity = cosine_similarity(user_movie_matrix.T.fillna(0))
item_sim_df = pd.DataFrame(item_similarity, index=user_movie_matrix.columns, columns=user_movie_matrix.columns)
```

#### **Step 3: Implement the Recommendation Function**
Now, implement the function `recommend_movies(movie_name, num=5)` to recommend movies similar to a given movie.

##### **Function Inputs:**
- `movie_name`: The target movie for which we need recommendations.
- `num`: The number of similar movies to recommend (default is 5).

##### **Function Steps:**
1. Find the **movie_id** corresponding to the given `movie_name` in the `movies` DataFrame.
2. If the movie is not found, return an appropriate message.
3. Extract the **similarity scores** for this movie from `item_sim_df`.
4. Sort the movies in **descending order** based on similarity (excluding the movie itself).
5. Retrieve the **top `num` similar movies**.
6. Map **movie IDs** to their **titles** using the `movies` DataFrame.
7. Return the results as a **Pandas DataFrame** with rankings.

#### **Step 4: Return the Final Recommendation List**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

##### **Hint:** Your final DataFrame should be created like this:
```python
result_df = pd.DataFrame({
    'ranking': range(1, num+1),
    'movie_name': movie_names
})
result_df.set_index('ranking', inplace=True)
```

#### **Example: Item-Based Collaborative Filtering**
```python
recommend_movies("Jurassic Park (1993)", num=5)
```
**Output:**
```
| Ranking | Movie Name                               |
|---------|------------------------------------------|
| 1       | Top Gun (1986)                           |
| 2       | Empire Strikes Back, The (1980)          |
| 3       | Raiders of the Lost Ark (1981)           |
| 4       | Indiana Jones and the Last Crusade (1989)|
| 5       | Speed (1994)                             |

# Item-Item similarity

Preprocessing for item-based collaborative filtering prepares the user–movie matrix so that similarity between movies can be computed reliably. Key goals are to make items the rows, handle missing ratings, and reduce noise from rarely-rated items.

Steps:
1. Transpose the user–movie matrix so each row represents a movie and each column a user.
2. Replace NaN (missing ratings) with 0 (or optionally with per-item means if you want mean-centered similarity).
3. Compute cosine similarity on the prepared matrix and store the result in a DataFrame indexed and columned by movie_id (or movie title) for easy lookup. Item-Item similarity

In [41]:
# compute item-item cosine similarity (zero_user_movie_matrix already has NaNs filled with 0)
item_similarity = cosine_similarity(zero_user_movie_matrix.T.fillna(0))
item_sim_df = pd.DataFrame(item_similarity, index=zero_user_movie_matrix.columns, columns=zero_user_movie_matrix.columns)
item_sim_df.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
movie_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.402382,0.330245,0.454938,0.286714,0.116344,0.620979,0.481114,0.496288,0.273935,...,0.035387,0.0,0.000000,0.000000,0.035387,0.0,0.0,0.0,0.047183,0.047183
2,0.402382,1.000000,0.273069,0.502571,0.318836,0.083563,0.383403,0.337002,0.255252,0.171082,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.078299,0.078299
3,0.330245,0.273069,1.000000,0.324866,0.212957,0.106722,0.372921,0.200794,0.273669,0.158104,...,0.000000,0.0,0.000000,0.000000,0.032292,0.0,0.0,0.0,0.000000,0.096875
4,0.454938,0.502571,0.324866,1.000000,0.334239,0.090308,0.489283,0.490236,0.419044,0.252561,...,0.000000,0.0,0.094022,0.094022,0.037609,0.0,0.0,0.0,0.056413,0.075218
5,0.286714,0.318836,0.212957,0.334239,1.000000,0.037299,0.334769,0.259161,0.272448,0.055453,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.094211

### Item-Based Collaborative Filtering — `recommend_movies`

Brief: Recommend movies similar to a given title using item-item cosine similarity.

- Inputs: `movie_name` (exact title) and `num` (number of recommendations).  
- Process:
    1. Look up the movie_id for the provided title in `movies`.
    2. Retrieve that movie's similarity row from `item_sim_df`.
    3. Exclude the movie itself, sort similarities descending, and pick the top N movie IDs.
    4. Map the selected movie IDs to titles via the `movies` DataFrame.
- Output: A Pandas DataFrame indexed by ranking with a `movie_name` column (top similar titles).  
- Notes: Returns an empty DataFrame or prints a message if the title or movie_id is not found; requires `item_sim_df` and `movies` to be precomputed. Item Based Collaborative Filtering. Recommendation Alg.

In [42]:
# Code the function here

def recommend_movies(movie_name, num=5):
    """
    Recommend 'num' movies similar to 'movie_name' using item-based CF.
    Returns a DataFrame indexed by 'ranking' with column 'movie_name'.
    """
    # find movie_id
    matches = movies[movies['title'] == movie_name]
    if matches.empty:
        print(f"Movie '{movie_name}' not found in movies DataFrame.")
        return pd.DataFrame({'ranking': [], 'movie_name': []}).set_index('ranking')

    movie_id = matches.iloc[0]['movie_id']

    # ensure similarity matrix contains the movie_id
    if movie_id not in item_sim_df.index:
        print(f"Movie id {movie_id} for '{movie_name}' not found in item similarity matrix.")
        return pd.DataFrame({'ranking': [], 'movie_name': []}).set_index('ranking')

    # get similarity scores excluding the movie itself
    sims = item_sim_df.loc[movie_id].drop(labels=movie_id, errors='ignore')
    top_sim = sims.sort_values(ascending=False).head(num)

    # map movie ids to titles
    movie_titles = movies.set_index('movie_id').reindex(top_sim.index)['title'].fillna('Unknown Title').tolist()
    # build result DataFrame as requested
    result_df = pd.DataFrame({
        'ranking': range(1, len(movie_titles) + 1),
        'movie_name': movie_titles
    })
    result_df.set_index('ranking', inplace=True)
    return result_df

### recommend_movies — Item-based CF results

- The `recommend_movies` function returns movies that have similar rating patterns to the input title by using item-item cosine similarity on the user–movie matrix. Results typically reflect titles watched and rated by the same audience (often same genre, era, or shared actors/directors).

- In practice the top recommendations are sensible and relevant for well-known movies with many ratings. For less-popular titles the method may return generic or overly popular movies because similarity estimates are noisy when co-rating counts are low.

- Limitations: recommendations depend on exact title matching, the matrix sparsity can bias results toward popular items, and ratings are not normalized per-item in this implementation (so popularity can dominate).

- Suggestions to improve: require a minimum co-rating threshold, normalize ratings (e.g., subtract item mean), incorporate content features (genre/actors) or hybridize with user-based CF to reduce popularity bias and improve recommendations for niche movies.

In [43]:
recommend_movies("Jurassic Park (1993)", num=5)

                                        movie_name
ranking
1                                   Top Gun (1986)
2                                     Speed (1994)
3                   Raiders of the Lost Ark (1981)
4                  Empire Strikes Back, The (1980)
5        Indiana Jones and the Last Crusade (1989)

## **Part 3: Graph-Based Recommender (Pixie-Inspired Algorithm)**

### **Adjacency List**

#### **Objective**
In this task, you will preprocess the Movie dataset and construct a **graph representation** where:
- **Users** are connected to the movies they have rated.
- **Movies** are connected to users who have rated them.
  
This graph structure will help in exploring **user-movie relationships** for recommendations.

#### **Step 1: Merge Ratings with Movie Titles**
Since we have **movie IDs** in the ratings dataset but need human-readable movie titles, we will:
1. Merge the `ratings` DataFrame with the `movies` DataFrame using the `'movie_id'` column.
2. This allows each rating to be associated with a **movie title**.

#### **Hint:**
Use the following Pandas operation to merge:
```python
ratings = ratings.merge(movies, on='movie_id')
```


#### **Step 2: Aggregate Ratings**
Since multiple users may rate the same movie multiple times, we:
1. Group the dataset by `['user_id', 'movie_id', 'title']`.
2. Compute the **mean rating** for each movie by each user.
3. Reset the index to ensure we maintain a clean DataFrame structure.

#### **Hint:**  
Use `groupby()` and `mean()` as follows:
```python
ratings = ratings.groupby(['user_id', 'movie_id', 'title'])['rating'].mean().reset_index()
```

#### **Step 3: Normalize Ratings**
Since different users have different rating biases, we normalize ratings by:
1. **Computing each user's mean rating**.
2. **Subtracting the mean rating** from each individual rating.

#### **Instructions:**
- Use `groupby('user_id')` to group ratings by users.
- Apply `transform(lambda x: x - x.mean())` to adjust ratings.

#### **Hint:**  
Normalize ratings using:
```python
ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())
```
This ensures each user’s ratings are centered around zero, making similarity calculations fairer.

#### **Step 4: Construct the Graph Representation**
We represent the user-movie interactions as an **undirected graph** using an **adjacency list**:
- Each **user** is a node connected to movies they rated.
- Each **movie** is a node connected to users who rated it.

#### **Graph Construction Steps:**
1. Initialize an empty dictionary `graph = {}`.
2. Iterate through the **ratings dataset**.
3. For each `user_id` and `movie_id` pair:
   - Add the movie to the user’s set of connections.
   - Add the user to the movie’s set of connections.

#### **Hint:**  
The following code builds the graph:

```python
graph = {}
for _, row in ratings.iterrows():
    user, movie = row['user_id'], row['movie_id']
    if user not in graph:
        graph[user] = set()
    if movie not in graph:
        graph[movie] = set()
    graph[user].add(movie)
    graph[movie].add(user)
```

This results in a **bipartite graph**, where:
- **Users** are connected to multiple movies.
- **Movies** are connected to multiple users.

#### **Step 5: Understanding the Graph**
- **Nodes** in the graph represent **users and movies**.
- **Edges** exist between a user and a movie **if the user has rated the movie**.
- This structure allows us to find **users with similar movie tastes** and **movies frequently watched together**.

#### **Exploring the Graph**
- **Find a user’s rated movies:**  
  ```python
  user_id = 1
  print(graph[user_id])  # Movies rated by user 1
  ```

- **Find users who rated a movie:**  
  ```python
  movie_id = 50
  print(graph[movie_id])  # Users who rated movie 50
  ```

### Pixie Alg. Preprocessing Steps

Purpose: prepare ratings and build a bipartite adjacency list connecting users and movies for graph-based recommendations.

Steps
- Merge movie info into ratings:
    - `ratings = ratings.merge(movies, on='movie_id')`
- Aggregate duplicate ratings:
    - `ratings = ratings.groupby(['user_id','movie_id','title'])['rating'].mean().reset_index()`
- Normalize per-user (center by user mean):
    - `ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())`
- Build adjacency list:
    - Create `graph = {}`  
    - For each row: ensure `graph[user]` and `graph[movie]` are sets, then `graph[user].add(movie)` and `graph[movie].add(user)`

Data structures
- `ratings`: DataFrame with columns `user_id, movie_id, title, rating` (normalized).
- `graph`: dict mapping node -> set(neighbors). Nodes are user IDs and movie IDs.

Notes / caveats
- ID collision: user and movie IDs overlap numerically. Prefer prefixes like `"u:5"` / `"m:5"` or tuples `("u", id)` / `("m", id)`.
- Complexity: O(E) to build where E = number of (user,movie) pairs.
- Normalization only affects algorithms using rating values; adjacency-only walks ignore rating magnitudes.

Usage examples
- Movies rated by user 1: `graph[1]`
- Users who rated movie 50: `graph[50]`

This graph is ready for random-walk (Pixie-style) or neighborhood queries.

In [114]:
# steps 1-3
ratings = ratings.merge(movies, on='movie_id')
ratings = ratings.groupby(['user_id', 'movie_id', 'title'])['rating'].mean().reset_index()
ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())


# steps 4-5
graph = {}
for _, row in ratings.iterrows():
    user, movie = row['user_id'], row['movie_id']
    if user not in graph:
        graph[user] = set()
    if movie not in graph:
        graph[movie] = set()
    graph[user].add(movie)
    graph[movie].add(user)

user_id = 1
print(graph[user_id])  # Movies rated by user 1

movie_id = 50
print(graph[movie_id])  # Users who rated movie 50

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 274, 275, 276, 277, 279, 280, 286, 287, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 301, 303, 305, 307, 308, 311, 312, 313, 314, 320, 322, 324, 325, 326, 327, 330, 331, 332, 336, 338, 339, 340, 343, 344, 345, 347, 348, 350, 357, 359, 360, 363, 365, 371, 374, 378, 379, 380, 381, 387, 388, 389, 390, 393, 394, 395, 396, 398, 399, 401, 402, 403, 406, 407, 411, 412, 416, 417, 419, 422, 424, 425, 429, 432, 434, 435, 438, 441, 445, 447, 450, 454, 455, 456, 457, 458, 459, 460, 463, 465, 467, 468, 470, 471, 472, 478, 479, 483, 484, 486, 487, 488, 490, 493, 494, 495, 497, 500, 503, 505, 508, 512, 514, 517, 518, 521, 523, 525, 526, 532, 533, 534, 535, 536, 537, 540, 541, 542, 545, 548, 549, 550, 552, 553, 554, 560, 561, 562, 567, 569, 576, 577, 579, 580, 582, 588, 592, 593, 597, 599, 602, 605, 606, 609, 610, 612, 613, 614, 618, 620, 621, 622, 624, 630, 632, 634, 635, 636, 637, 642, 643, 648, 649, 650, 653, 654, 655, 657, 658, 660, 661, 663, 664, 665, 669, 674, 676, 677, 678, 679, 680, 682, 684, 689, 690, 691, 692, 697, 698, 699, 701, 703, 705, 706, 708, 709, 710, 714, 715, 716, 721, 723, 726, 727, 730, 731, 733, 735, 738, 742, 744, 745, 746, 747, 748, 749, 751, 756, 757, 759, 761, 763, 764, 767, 768, 769, 770, 771, 773, 777, 779, 785, 786, 788, 789, 790, 792, 793, 794, 795, 796, 798, 800, 804, 805, 806, 807, 815, 817, 821, 822, 823, 826, 829, 830, 831, 835, 838, 839, 843, 847, 852, 854, 864, 865, 867, 868, 870, 872, 879, 880, 881, 882, 883, 885, 886, 887, 889, 890, 892, 893, 894, 895, 896, 897, 899, 901, 902, 903, 907, 910, 913, 916, 917, 918, 919, 921, 922, 923, 924, 927, 929, 930, 932, 933, 934, 935, 936, 938, 941}
{1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 18, 20, 21, 22, 23, 25, 26, 27, 28, 30, 32, 37, 41, 42, 43, 44, 45, 46, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 77, 79, 80, 82, 83, 85, 87, 89, 91, 92, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 108, 109, 113, 115, 116, 117, 119, 120, 121, 123, 124, 125, 127, 128, 130, 132, 137, 141, 144, 145, 148, 150, 151, 153, 154, 157, 158, 160, 161, 162, 169, 174, 175, 176, 177, 178, 182, 183, 184, 185, 188, 189, 192, 194, 197, 198, 200, 201, 203, 209, 210, 213, 214, 215, 216, 217, 221, 222, 227, 230, 231, 232, 233, 234, 235, 236, 239, 244, 245, 246, 247, 248, 249, 250, 251, 253, 254, 256, 257, 262, 263, 265, 267, 268, 269, 270, 271, 272, 274, 275, 276, 277, 279, 280, 283, 286, 287, 288, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 301, 303, 305, 307, 308, 310, 311, 312, 313, 316, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 332, 334, 336, 337, 339, 340, 343, 344, 345, 346, 347, 350, 352, 354, 359, 360, 361, 363, 367, 368, 369, 370, 371, 373, 374, 378, 379, 380, 381, 382, 385, 386, 387, 389, 391, 392, 393, 394, 395, 397, 398, 399, 401, 402, 403, 405, 406, 407, 409, 411, 413, 416, 417, 419, 421, 422, 424, 425, 426, 429, 430, 432, 433, 435, 436, 437, 438, 444, 445, 447, 450, 452, 453, 454, 455, 456, 457, 458, 459, 461, 463, 464, 465, 466, 467, 468, 470, 471, 472, 474, 475, 478, 479, 480, 481, 482, 483, 484, 486, 487, 488, 490, 493, 494, 495, 496, 497, 498, 499, 500, 503, 504, 505, 506, 507, 508, 509, 512, 513, 514, 516, 517, 521, 523, 524, 526, 527, 528, 530, 533, 535, 536, 537, 538, 539, 540, 541, 542, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 557, 560, 561, 562, 563, 564, 566, 567, 569, 573, 575, 576, 577, 579, 580, 581, 582, 584, 586, 588, 592, 593, 594, 595, 596, 597, 600, 601, 602, 603, 606, 608, 610, 613, 618, 619, 620, 621, 622, 623, 624, 625, 629, 630, 632, 633, 634, 637, 638, 641, 642, 643, 644, 645, 648, 649, 650, 653, 654, 655, 658, 659, 660, 661, 662, 663, 664, 665, 666, 668, 669, 671, 672, 674, 676, 678, 679, 680, 682, 684, 686, 689, 691, 693, 694, 697, 698, 699, 700, 701, 703, 704, 705, 706, 708, 709, 710, 711, 712, 714, 715, 716, 717, 719, 721, 723, 727, 730, 734, 735, 736, 738, 739, 741, 742, 744, 745, 746, 747, 748, 749, 751, 753, 756, 757, 758, 759, 760, 761, 763, 764, 765, 766, 768, 770, 771, 773, 774, 776, 779, 780, 781, 782, 785, 786, 789, 790, 791, 793, 794, 795, 796, 797, 798, 799, 800, 804, 805, 806, 807, 815, 823, 825, 826, 830, 831, 832, 833, 834, 835, 838, 839, 840, 843, 844, 846, 847, 848, 850, 851, 852, 854, 862, 864, 867, 868, 869, 870, 871, 875, 878, 879, 880, 881, 882, 883, 885, 886, 887, 889, 890, 891, 892, 893, 894, 895, 896, 897, 899, 901, 902, 903, 907, 908, 910, 913, 916, 917, 919, 921, 922, 923, 924, 929, 930, 931, 933, 934, 936, 937, 938, 940, 942, 943, 1008, 1010, 1084}

### **Implement Weighted Random Walks**

#### **Random Walk-Based Movie Recommendation System (Weighted Pixie)**

#### **Objective**
In this task, you will implement a **random-walk-based recommendation algorithm** using the **Weighted Pixie** method. This technique uses a **user-movie bipartite graph** to recommend movies by simulating a random walk from a given user or movie.

#### **Step 1: Import Required Libraries**
Make sure you have the necessary libraries:

```python
import random  # For random walks
import pandas as pd  # For handling data
```

#### **Step 2: Implement the Random Walk Algorithm**
Your task is to **simulate a random walk** from a given starting point in the **bipartite user-movie graph**.

##### **Hints for Implementation**
- Start from **either a user or a movie**.
- At each step, **randomly move** to a connected node.
- Keep track of **how many times each movie is visited**.
- After completing the walk, **rank movies by visit count**.

#### **Step 3: Implement User-Based Recommendation**
**Hints:**
- Check if the `user_id` exists in the `graph`.
- Start a loop that runs for `walk_length` steps.
- Randomly pick a **connected node** (user or movie).
- Track how many times each **movie** is visited.
- Sort movies by visit frequency and return the **top N**.

#### **Step 4: Implement Movie-Based Recommendation**
**Hints:**
- Find the `movie_id` corresponding to the given `movie_name`.
- Ensure the movie exists in the `graph`.
- Start a random walk from that movie.
- Follow the same **tracking and ranking** process as the user-based version.

**Note:**  
**Your task:** Implement a function `weighted_pixie_recommend(user_id, walk_length=15, num=5)` or `weighted_pixie_recommend(movie_name, walk_length=15, num=5)`.  
**Implement either Step 3 or Step 4.**

#### **Step 5: Running Your Recommendation System**
Once your function is implemented, test it by calling:

##### **Example: User-Based Recommendation**
```python
weighted_pixie_recommend(1, walk_length=15, num=5)
```
| Ranking | Movie Name                     |
|---------|--------------------------------|
| 1       | My Own Private Idaho (1991)   |
| 2       | Aladdin (1992)                |
| 3       | 12 Angry Men (1957)           |
| 4       | Happy Gilmore (1996)          |
| 5       | Copycat (1995)                |


##### **Example: Movie-Based Recommendation**
```python
weighted_pixie_recommend("Jurassic Park (1993)", walk_length=10, num=5)
```
| Ranking | Movie Name                           |
|---------|-------------------------------------|
| 1       | Rear Window (1954)                 |
| 2       | Great Dictator, The (1940)         |
| 3       | Field of Dreams (1989)             |
| 4       | Casablanca (1942)                  |
| 5       | Nightmare Before Christmas, The (1993) |

#### **Step 6: Understanding the Results**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

Each movie is ranked based on **how frequently it was visited** during the walk.

#### **Experiment with Different Parameters**
- Try different **`walk_length`** values and observe how it changes recommendations.
- Adjust the number of recommended movies (`num`).

### simple_random_walk

Brief description  
Performs a simple random walk on the bipartite user–movie adjacency `graph`, starting from a given node (user or movie). At each step it moves to a random neighbor and counts visits to movie nodes. Useful for quick exploratory graph-based recommendations or debugging adjacency structure.

Parameters
- `start` (int): starting node id (a user_id or movie_id present in `graph`).
- `walk_length` (int, default=15): number of random steps to take.
- `seed` (int or None): optional RNG seed for reproducible walks.

Behavior
- Requires `graph` to exist in the notebook (built from ratings) — function checks for it.  
- If `movies` DataFrame is available, titles are used when printing results; otherwise raw node ids are printed.  
- At each step the function picks a random neighbor; if a node has no neighbors the walk stops early.  
- Only visits to movie nodes are counted (if `movies` is available the function infers movie ids from it).  
- Prints visited movies in ascending order by visit count (tie-break by id) and returns a dict of visit counts: {movie_id: count}.

Return
- dict mapping visited movie_id -> visit count

Complexity
- O(walk_length) time and O(k) memory where k is number of distinct visited movies.

Example
```python
simple_random_walk(1, walk_length=15, seed=42)
```

Notes
- Set `seed` for deterministic results.  
- Use this for quick inspection; for ranked recommendations or weighted/randomized strategies see the Pixie-style functions.

In [115]:
import random  # For random walks
import pandas as pd  # For handling data

# Step 2
def simple_random_walk(start, walk_length=15, seed=None):
    """
    Start from `start` (user_id or movie_id), do `walk_length` random steps,
    count visits to movie nodes, and print movies in ascending order by visit count.
    """
    if seed is not None:
        random.seed(seed)
    if 'graph' not in globals():
        print("graph not found - run the graph construction cell first.")
        return
    if start not in graph:
        print(f"Start node {start} not in graph.")
        return

    movie_ids = set(movies['movie_id'].unique()) if 'movies' in globals() else None
    titles_map = dict(zip(movies['movie_id'], movies['title'])) if 'movies' in globals() else {}

    visits = {}
    current = start
    for _ in range(walk_length):
        neighbors = list(graph.get(current, []))
        if not neighbors:
            break
        current = random.choice(neighbors)
        # count only if current is a movie (or if we don't have movies df, count all visited nodes)
        if movie_ids is None or current in movie_ids:
            visits[current] = visits.get(current, 0) + 1

    # sort ascending by visit count then by id for ties
    sorted_visits = sorted(visits.items(), key=lambda x: (x[1], x[0]))

    for movie_id, cnt in sorted_visits:
        print(f"{titles_map.get(movie_id, movie_id)} -> {cnt}")

    return visits

### simple_random_walk — Result Summary

- The random walk produced a small set of movie nodes visited starting from user 1, with each movie listed alongside its visit count.  
- Higher visit counts indicate movies that are more strongly connected to the starting user through the bipartite user–movie graph (i.e., frequently co-rated or reachable via popular paths).  
- Because a fixed seed was used, the walk is reproducible; changing or removing the seed yields different (stochastic) results.  
- Limitations: a single short walk is noisy and biased by high-degree nodes. For more stable recommendations, run multiple walks (or increase walk_length), aggregate visit counts, and consider degree‑normalization or excluding very popular items.

In [116]:
simple_random_walk(1, walk_length=15, seed=42)

Babe (1995) -> 1
Mr. Holland's Opus (1995) -> 1
Clerks (1994) -> 1
Star Wars (1977) -> 1
Three Colors: Red (1994) -> 1
Shawshank Redemption, The (1994) -> 1
Terminator 2: Judgment Day (1991) -> 1
Haunted World of Edward D. Wood Jr., The (1995) -> 1
Psycho (1960) -> 1
Somewhere in Time (1980) -> 1
Blood For Dracula (Andy Warhol's Dracula) (1974) -> 1
In the Line of Fire (1993) -> 1
Man of the Year (1995) -> 1
Menace II Society (1993) -> 1
Escape from L.A. (1996) -> 1

{115: 1,
 8: 1,
 766: 1,
 662: 1,
 666: 1,
 64: 1,
 831: 1,
 96: 1,
 806: 1,
 50: 1,
 684: 1,
 15: 1,
 42: 1,
 59: 1,
 185: 1}

---

### weighted_pixie_recommend — Movie-based random‑walk (Pixie‑inspired)

Purpose
- Perform a random walk starting from a movie node to surface related movies via the bipartite user–movie graph.
- Counts visits to movie nodes (excluding the start) and ranks movies by visit frequency.

Requirements
- Precomputed `graph` adjacency list (nodes = user_ids and movie_ids).
- `movies` DataFrame (to map movie titles ↔ movie_id).

Inputs
- `movie_name` (str): exact movie title to start the walk from.
- `walk_length` (int, default=15): number of random steps to simulate.
- `num` (int, default=5): number of top recommendations to return.
- `seed` (int | None): optional RNG seed for reproducible walks.

Behavior / Algorithm
- Locate the start movie_id from `movies`.
- Start at that movie node; for `walk_length` steps choose a random neighbor (user or movie) from `graph`.
- Each time the walk lands on a movie node (and it is not the start movie), increment its visit counter.
- After the walk, sort movies by descending visit count (tie-breaker: ascending movie_id) and return the top `num`.

Output
- Pandas DataFrame indexed by `ranking` with columns:
    - `movie_name` — movie title
    - `visits` — number of times visited in the walk

Example usage
- weighted_pixie_recommend("Jurassic Park (1993)", walk_length=100, num=5, seed=42)
- Returns a ranked DataFrame like:
    1. movie_name — visits
    2. ...

Complexity and characteristics
- Time: O(walk_length). Memory: O(k) for distinct visited movies.
- Stochastic: different seeds or runs yield different results unless `seed` is fixed.
- Short walks are noisy and biased toward high‑degree nodes (popular movies).

Limitations & improvements
- Popularity bias: high‑degree movies are visited more often. Mitigate with degree‑normalization (divide visit increment by node degree) or edge weights.
- Stability: run multiple independent walks and average visit counts for more stable recommendations.
- Personalization: initialize walks from multiple movies a user liked or use restart probability (random teleport) to bias the walk toward the user.
- Scalability: very large `walk_length` or many parallel walks can be expensive; prefer many short walks aggregated.
- Node id collision: if user and movie numeric ids overlap, consider prefixing nodes (e.g., "u:5", "m:50") when building `graph` to avoid ambiguity.

Notes
- The function returns an empty DataFrame and prints an informative message if `movies` or `graph` are not available or the movie title is not found.

In [ ]:
import random
from collections import Counter
import pandas as pd

def weighted_pixie_recommend(movie_name, walk_length=15, num=5, seed=None):
    """
    Movie-based random walk:
    - start from movie_name (movie_id node)
    - take `walk_length` random steps on the bipartite graph
    - count visits to movie nodes (exclude the starting movie)
    - return top `num` movies as a DataFrame ranked by visit count (highest first)
    """
    if seed is not None:
        random.seed(seed)

    if 'movies' not in globals() or 'graph' not in globals():
        print("movies or graph not found - run preprocessing / graph construction first.")
        return pd.DataFrame(columns=['movie_name', 'visits']).set_index('ranking')

    matches = movies[movies['title'] == movie_name]
    if matches.empty:
        print(f"Movie '{movie_name}' not found.")
        return pd.DataFrame(columns=['movie_name', 'visits']).set_index('ranking')

    start_mid = int(matches.iloc[0]['movie_id'])
    if start_mid not in graph:
        print(f"Movie id {start_mid} for '{movie_name}' not in graph.")
        return pd.DataFrame(columns=['movie_name', 'visits']).set_index('ranking')

    movie_ids = set(movies['movie_id'].astype(int).unique())
    titles = dict(zip(movies['movie_id'].astype(int), movies['title']))

    visits = Counter()
    current = start_mid
    for _ in range(walk_length):
        nbrs = list(graph.get(current, []))
        if not nbrs:
            break
        current = random.choice(nbrs)
        # if landed on a movie node (and not the start), count it
        if current in movie_ids and current != start_mid:
            visits[current] += 1

    if not visits:
        print("No movie visits recorded during walk.")
        return pd.DataFrame(columns=['movie_name', 'visits']).set_index('ranking')

    # choose top `num` by descending visit count, tie-breaker by movie_id ascending
    ranked = sorted(visits.items(), key=lambda x: (-x[1], x[0]))[:num]

    df = pd.DataFrame({
        'ranking': range(1, len(ranked) + 1),
        'movie_name': [titles.get(mid, mid) for mid, _ in ranked],
        'visits': [cnt for _, cnt in ranked]
    })
    df.set_index('ranking', inplace=True)
    return df

### Weighted Pixie — Recommendation Result

Purpose
- Returns a ranked DataFrame of movies found by a random walk starting from a given movie.

Output
- movie_name — title  
- visits — times visited during the walk

How to read
- Ranking 1 = strongest (most visits).  
- Higher visits → stronger graph connection.  
- Results are stochastic; set seed for reproducibility.

Key params
- walk_length: steps per walk  
- num: number of recommendations  
- seed: RNG seed

Notes & tips
- Short walks are noisy; run multiple walks and aggregate counts.  
- Popularity bias: consider degree‑normalization or excluding very high‑degree nodes.  
- For personalization, start from multiple movies or use weighted restarts.

In [151]:
weighted_pixie_recommend("Jurassic Park (1993)", walk_length=150000, num=5)

                         movie_name  visits
ranking
1        Mission: Impossible (1996)     723
2         Return of the Jedi (1983)     616
3                Stand by Me (1986)     585
4           Mighty Aphrodite (1995)     547
5             Twelve Monkeys (1995)     536

## **Submission Requirements:**

To successfully complete this assignment, ensure that you submit the following:


### **1. Jupyter Notebook Submission**
- Submit a **fully completed Jupyter Notebook** that includes:
  - **All implemented recommendation functions** (user-based, item-based, and random walk-based recommendations).
  - **Code explanations** in markdown cells to describe each step.
  - **Results and insights** from running your recommendation models.


### **2. Explanation of Pixie-Inspired Algorithms (3-5 Paragraphs)**
- Write a **detailed explanation** of **Pixie-inspired random walk algorithms** used for recommendations.
- Your explanation should cover:
  - What **Pixie-inspired recommendation systems** are.
  - How **random walks** help in identifying relevant recommendations.
  - Any real-world applications of such algorithms in industry.


### **3. Report for the Submitted Notebook**
Your report should be structured as follows:

#### **Title: Movie Recommendation System Report**

#### **1. Introduction**
- Briefly introduce **movie recommendation systems** and why they are important.
- Explain the **different approaches used** (user-based, item-based, random-walk).

#### **2. Dataset Description**
- Describe the **MovieLens 100K dataset**:
  - Number of users, movies, and ratings.
  - What features were used.
  - Any preprocessing performed.

#### **3. Methodology**
- Explain the three recommendation techniques implemented:
  - **User-based collaborative filtering** (how user similarity was calculated).
  - **Item-based collaborative filtering** (how item similarity was determined).
  - **Random-walk-based Pixie algorithm** (why graph-based approaches are effective).
  
#### **4. Implementation Details**
- Discuss the steps taken to build the functions.
- Describe how the **adjacency list graph** was created.
- Explain how **random walks** were performed and how visited movies were ranked.

#### **5. Results and Evaluation**
- Present **example outputs** from each recommendation approach.
- Compare the different methods in terms of accuracy and usefulness.
- Discuss any **limitations** in the implementation.

#### **6. Conclusion**
- Summarize the key takeaways from the project.
- Discuss potential improvements (e.g., **hybrid models, additional features**).
- Suggest real-world applications of the methods used.

### **Submission Instructions**

- Submit `.zip` file consisting of Jupyter Notebook and all the datafiles (provided) and the ones saved [i.e. `users.csv`, `movies.csv` and `ratings.csv`]. Also, include the Report and Pixie Algorithm explanation document.
- [`Bonus 10 Points`] **Upload your Jupyter Notebook, Explanation Document, and Report** to your GitHub repository.
- Ensure the repository is public and contains:
  - `users.csv`, `movies.csv` and `ratings.csv` [These are the Dataframes which were created in part 1. Save and export them as a `.csv` file]
  - `Movie_Recommendation.ipynb`
  - `Pixie_Algorithm_Explanation.pdf` or `.md`
  - `Recommendation_Report.pdf` or `.md`
- **Submit the GitHub repository link in the cell below.**


#### **Example Submission Format**
```text
GitHub Repository: https://github.com/username/Movie-Recommendation
```

In [45]:
# Submit the Github Link here:
link = "https://github.com/JamesKim-4811/Movie-Recommendation/tree/master"
link

'https://github.com/JamesKim-4811/Movie-Recommendation/tree/master'

### **Grading Rubric: ITCS 6162 - Data Mining Assignment**


| **Category**                              | **Criteria**                                                     | **Points** |
|-------------------------------------------|----------------------------------------------------------------|------------|
| **Part 1: Exploring and Cleaning Data (15 pts)**  | Properly loads `u.user`, `u.movies`, and `u.item` datasets into DataFrames | 5 |
|                                           | Handles missing values, duplicates, and inconsistencies appropriately | 5 |
|                                           | Saves the cleaned datasets into CSV files: `users.csv`, `movies.csv`, `ratings.csv` | 5 |
| **Part 2: Collaborative Filtering-Based Recommendation (30 pts)** | Implements user-based collaborative filtering correctly | 10 |
|                                           | Implements item-based collaborative filtering correctly | 10 |
|                                           | Computes similarity measures accurately and provides valid recommendations | 10 |
| **Part 3: Graph-Based Recommender (Pixie-Inspired Algorithm) (35 pts)** | Constructs adjacency lists properly from user-movie interactions | 10 |
|                                           | Implements weighted random walk-based recommendation correctly | 15 |
|                                           | Explains and justifies the algorithm design choices (Pixie-inspired) | 10 |
| **Code Quality & Documentation (10 pts)** | Code is well-structured, efficient, and follows best practices | 5 |
|                                           | Markdown explanations and comments are clear and enhance understanding | 5 |
| **Results & Interpretation (5 pts)**      | Provides meaningful insights from the recommendation system's output | 5 |
| **Submission & Report (5 pts)**          | Submits all required files in the correct format (ZIP file with Jupyter notebook, processed CSV files, and project report) | 5 |
| **Total**                                 |                              | 100 |

#### **Bonus (10 pts)**
| **Category**                              | **Criteria**                                                     | **Points** |
|-------------------------------------------|----------------------------------------------------------------|------------|
| **GitHub Submission**                     | Provides a well-documented GitHub repository with CSV files, a structured README, and a properly formatted Jupyter Notebook | 10 |